<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DD1009CE-0EE3-43DF-83CA-4A6E535BA39F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,27}</string>
                <key>spriteSourceSize</key>
                <string>{192,27}</string>
                <key>textureRect</key>
                <string>{{1694,200},{192,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,354}</string>
                <key>spriteSourceSize</key>
                <string>{12,354}</string>
                <key>textureRect</key>
                <string>{{570,1405},{12,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Missions.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,815}</string>
                <key>spriteSourceSize</key>
                <string>{617,815}</string>
                <key>textureRect</key>
                <string>{{1,1},{617,815}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awardBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,24}</string>
                <key>spriteSourceSize</key>
                <string>{63,24}</string>
                <key>textureRect</key>
                <string>{{1307,635},{63,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,627}</string>
                <key>spriteSourceSize</key>
                <string>{525,627}</string>
                <key>textureRect</key>
                <string>{{1334,635},{525,627}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,803}</string>
                <key>spriteSourceSize</key>
                <string>{585,803}</string>
                <key>textureRect</key>
                <string>{{1,818},{585,803}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{1571,1339},{69,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,86}</string>
                <key>spriteSourceSize</key>
                <string>{235,86}</string>
                <key>textureRect</key>
                <string>{{1070,660},{235,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,86}</string>
                <key>spriteSourceSize</key>
                <string>{235,86}</string>
                <key>textureRect</key>
                <string>{{1334,1264},{235,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{1571,1264},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,33}</string>
                <key>textureRect</key>
                <string>{{644,766},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>context.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,13}</string>
                <key>spriteSourceSize</key>
                <string>{91,13}</string>
                <key>textureRect</key>
                <string>{{620,803},{91,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{68,63}</string>
                <key>textureRect</key>
                <string>{{1334,1352},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,635}</string>
                <key>spriteSourceSize</key>
                <string>{526,635}</string>
                <key>textureRect</key>
                <string>{{806,766},{526,635}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,22}</string>
                <key>spriteSourceSize</key>
                <string>{800,22}</string>
                <key>textureRect</key>
                <string>{{620,1},{800,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,567}</string>
                <key>spriteSourceSize</key>
                <string>{12,567}</string>
                <key>textureRect</key>
                <string>{{1,1405},{12,567}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>question.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,63}</string>
                <key>spriteSourceSize</key>
                <string>{57,63}</string>
                <key>textureRect</key>
                <string>{{1404,1352},{57,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,197}</string>
                <key>spriteSourceSize</key>
                <string>{193,197}</string>
                <key>textureRect</key>
                <string>{{1694,1},{193,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strength.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,57}</string>
                <key>spriteSourceSize</key>
                <string>{36,57}</string>
                <key>textureRect</key>
                <string>{{718,766},{36,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,632}</string>
                <key>spriteSourceSize</key>
                <string>{523,632}</string>
                <key>textureRect</key>
                <string>{{1169,1},{523,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,104}</string>
                <key>spriteSourceSize</key>
                <string>{424,104}</string>
                <key>textureRect</key>
                <string>{{644,660},{424,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{523,657}</string>
                <key>spriteSourceSize</key>
                <string>{523,821}</string>
                <key>textureRect</key>
                <string>{{644,1},{523,657}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dailySign.png</string>
            <key>size</key>
            <string>{1888,1418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b59d713f51471da27e0d03e04b5d07d:754c58db63691d362c665e6de371be48:9782ce6596cd24fb278af5d7f2588dc8$</string>
            <key>textureFileName</key>
            <string>dailySign.png</string>
        </dict>
    </dict>
</plist>
