<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,136}</string>
                <key>spriteSourceSize</key>
                <string>{143,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,903}</string>
                <key>spriteSourceSize</key>
                <string>{750,903}</string>
                <key>textureRect</key>
                <string>{{753,4115},{750,903}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,673}</string>
                <key>spriteSourceSize</key>
                <string>{750,673}</string>
                <key>textureRect</key>
                <string>{{1,962},{750,673}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,645}</string>
                <key>spriteSourceSize</key>
                <string>{703,645}</string>
                <key>textureRect</key>
                <string>{{653,315},{703,645}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,617}</string>
                <key>spriteSourceSize</key>
                <string>{650,617}</string>
                <key>textureRect</key>
                <string>{{1,315},{650,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,876}</string>
                <key>spriteSourceSize</key>
                <string>{750,876}</string>
                <key>textureRect</key>
                <string>{{1,4115},{750,876}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,868}</string>
                <key>spriteSourceSize</key>
                <string>{750,868}</string>
                <key>textureRect</key>
                <string>{{753,3245},{750,868}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,843}</string>
                <key>spriteSourceSize</key>
                <string>{750,843}</string>
                <key>textureRect</key>
                <string>{{1,3245},{750,843}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,815}</string>
                <key>spriteSourceSize</key>
                <string>{750,815}</string>
                <key>textureRect</key>
                <string>{{753,2428},{750,815}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,787}</string>
                <key>spriteSourceSize</key>
                <string>{750,787}</string>
                <key>textureRect</key>
                <string>{{1,2428},{750,787}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,759}</string>
                <key>spriteSourceSize</key>
                <string>{750,759}</string>
                <key>textureRect</key>
                <string>{{753,1667},{750,759}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,731}</string>
                <key>spriteSourceSize</key>
                <string>{750,731}</string>
                <key>textureRect</key>
                <string>{{1,1667},{750,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,703}</string>
                <key>spriteSourceSize</key>
                <string>{750,703}</string>
                <key>textureRect</key>
                <string>{{753,962},{750,703}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1076,312}</string>
                <key>spriteSourceSize</key>
                <string>{1076,312}</string>
                <key>textureRect</key>
                <string>{{146,1},{1076,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attention.png</string>
            <key>size</key>
            <string>{1504,5019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:172f22bd49479ac40cb9f83b5b79603d:7307b16ab7e7d4b240df34e77b9c6642:f63d9a6660ad2337fa0995dfd81851c9$</string>
            <key>textureFileName</key>
            <string>attention.png</string>
        </dict>
    </dict>
</plist>
